<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Глобальное потепление // выпуск</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#help">HOW TO HELP?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#What">WHAT IS THAT?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#feedback">FEEDBACK</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">GLOBAL WARMING</h1>
        <p class="home__subtitle">Глобальное потепление •❀• Что это такое и как можно помочь?
        </p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__what what" id="what">
        <h2 class="what__title">WHAT IS THAT?</h2>
        <div class="what__info info-block">
          <p class="info-block__text">
            Глобальное потепление -- это потепление климата. Началось оно из-за массового 
            добывания всяких ископаемых, вырубки большого количества леса, добычи электроэнергии,
            езды на авто и так далее.

            Какие последствия ГБ ?
            Средняя температура станет выше, что означает, что произойдет усиление засухи. Штормы 
            станут сильнее, а уровень океана вырастет с тем, как огромные ледники начнут таять. 
            Изменение климата также приведет к тому. что некоторые виды будут исчезать. Некоторые
            виды животных конечно и смогут выжить мигрируя на другое место, но а некоторые - нет. 
            Возникнет дефицит продовольствия в связи с засухами и увеличения числа экстремальных 
            погодных явлений. В связи с изменением климата также увеличится кол-во рисков для здоровья.
            Из-за изменения погодных условий будет распостранение различных заболеваний.
          </p>
          <img
            class="info-block__img"
            src="../static/img/Planet_GW.png"
            alt="me"
            width="400"
            height="400"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__help help" id="help">
        <h2 class="help__title">HOW TO HELP?</h2>
        <form action="/" method="POST">
          <ul class="help__list help-list">
            <li class="help-list__help help">
              <img
                class="help__img"
                src="../static/img/recycle.png"
                alt="recycle"
                width="150"
                height="150"
              />
              <span class="help__info">Переработка</span>
              <p class="help-block__text">
                Для помощи можно начать сортировать мусор для более легкой переработки.
                Например, вместо того, чтоб весь мусор скидывать вместе, пищевые отходы
                выбрасывать в одну урну, так же и с пластиком, стеклом и бумагой, каждый
                вид в разные урны. Пищевые отходы также можно пустить на компост, если 
                у вас есть какие-то растения или огородик. А после сортировки, пластик, 
                стекло и бумагу переработают и сделают какие-то другие предемты! Ну а 
                если вы любите помастерить, из некоторых видов упаковок можно сделать 
                какие-то поделки. К примеру черепашку из зеленой и коричневой бутылкам :3
              </p>
            </li>
            <li class="help-list__help help">
              <img
                class="help__img"
                src="../static/img/byn.png"
                alt="byn"
                width="150"
                height="150"
              />
              <span class="help__info">Загрязнения</span>
              <p class="help-block__text">
                Дабы избежать более серьезных последствий, лучше использовать более экологичные 
                виды транспорта, например автобус, в котором за раз можно перевезти кучу людей.
                Еще очень хорошо на короткие расстояния использовать велосипеды, самокаты и все 
                в таком роде ^^ И вам, возможно, весело и подвижно, и природу не загрязните:D 
                Также, если вы соберетесь с семьей или друзьями в лес на шашлычок, не забывайте 
                убирать за собой и если остался огонь, затушите его. Так можно избежать лесного 
                пожара, что могло очень сильно загрязнить природу и оставить маленьких зверушек
                без родного "дома".
              </p>
            </li>
            <li class="help-list__help help">
              <img
                class="help__img"
                src="../static/img/plant.png"
                alt="plant"
                width="150"
                height="150"
              />
              <span class="help__info">Экономия</span>
              <p class="help-list__help skill">
                Так как при выроботке электроэнергии производятся отходы, которые вредят окружению
                предлагаю немного экономить электричество. Также постарайтесь не тратить уйму воды.
                Хоть у нас на земле и много воды, но со временем эта вода загрязняется, воды стает 
                меньше, а также она засаливается. Попытайтесь также использовать меньше пластиковых 
                упаковок. вместо них лучше использовать более экологичные, пусть это может быть не 
                всегда удобно. Постарайтесь использовать одежду подольше, а не "на один день". 
              </p>
            </li>
          </ul>
        </form>
      </section>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>

    </footer>
  </body>
</html>
