<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Глобальное потепление // выпуск</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#help">HOW TO HELP?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#What">WHAT IS THAT?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#feedback">FEEDBACK</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">GLOBAL WARMING</h1>
        <p class="home__subtitle">Глобальное потепление •❀• Что это такое и как можно помочь?
        </p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__what what" id="what">
        <h2 class="what__title">WHAT IS THAT?</h2>
        <div class="what__info info-block">
          <p class="info-block__text">
            ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ -- ЭТО ПОТЕПЛЕНИЕ КЛИМАТА. НАЧАЛОСЬ ОНО ИЗ-ЗА МАССОВОГО 
            ДОБЫВАНИЯ ВСЯКИХ ИСКОПАЕМЫХ, ВЫРУБКИ БОЛЬШОГО КОЛИЧЕСТВА ЛЕСА, ДОБЫЧИ ЭЛЕКТРОЭНЕРГИИ,
            ЕЗДЫ НА АВТО И ТАК ДАЛЕЕ.

            КАКИЕ ПОСЛЕДСТВИЯ ГБ ?
            СРЕДНЯЯ ТЕМПЕРАТУРА СТАНЕТ ВЫШЕ, ЧТО ОЗНАЧАЕТ, ЧТО ПРОИЗОЙДЕТ УСИЛЕНИЕ ЗАСУХИ. ШТОРМЫ 
            СТАНУТ СИЛЬНЕЕ, А УРОВЕНЬ ОКЕАНА ВЫРАСТЕТ С ТЕМ, КАК ОГРОМНЫЕ ЛЕДНИКИ НАЧНУТ ТАЯТЬ. 
            ИЗМЕНЕНИЕ КЛИМАТА ТАКЖЕ ПРИВЕДЕТ К ТОМУ. ЧТО НЕКОТОРЫЕ ВИДЫ БУДУТ ИСЧЕЗАТЬ. НЕКОТОРЫЕ
            ВИДЫ ЖИВОТНЫХ КОНЕЧНО И СМОГУТ ВЫЖИТЬ МИГРИРУЯ НА ДРУГОЕ МЕСТО, НО А НЕКОТОРЫЕ - НЕТ. 
            ВОЗНИКНЕТ ДЕФИЦИТ ПРОДОВОЛЬСТВИЯ В СВЯЗИ С ЗАСУХАМИ И УВЕЛИЧЕНИЯ ЧИСЛА ЭКСТРЕМАЛЬНЫХ 
            ПОГОДНЫХ ЯВЛЕНИЙ. В СВЯЗИ С ИЗМЕНЕНИЕМ КЛИМАТА ТАКЖЕ УВЕЛИЧИТСЯ КОЛ-ВО РИСКОВ ДЛЯ ЗДОРОВЬЯ.
            ИЗ-ЗА ИЗМЕНЕНИЯ ПОГОДНЫХ УСЛОВИЙ БУДЕТ РАСПОСТРАНЕНИЕ РАЗЛИЧНЫХ ЗАБОЛЕВАНИЙ.
          </p>
          <img
            class="info-block__img"
            src="../static/img/Planet_GW.png"
            alt="me"
            width="400"
            height="400"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__help help" id="help">
        <h2 class="help__title">HOW TO HELP?</h2>
        <form action="/" method="POST">
          <ul class="help__list help-list">
            <li class="help-list__help help">
              <img
                class="help__img"
                src="../static/img/recycle.png"
                alt="recycle"
                width="150"
                height="150"
              />
              <span class="help__info">ПЕРЕРАБОТКА</span>
              <p class="help-block__text">
                ДЛЯ ПОМОЩИ МОЖНО НАЧАТЬ СОРТИРОВАТЬ МУСОР ДЛЯ БОЛЕЕ ЛЕГКОЙ ПЕРЕРАБОТКИ.
                НАПРИМЕР, ВМЕСТО ТОГО, ЧТОБ ВЕСЬ МУСОР СКИДЫВАТЬ ВМЕСТЕ, ПИЩЕВЫЕ ОТХОДЫ
                ВЫБРАСЫВАТЬ В ОДНУ УРНУ, ТАК ЖЕ И С ПЛАСТИКОМ, СТЕКЛОМ И БУМАГОЙ, КАЖДЫЙ
                ВИД В РАЗНЫЕ УРНЫ. ПИЩЕВЫЕ ОТХОДЫ ТАКЖЕ МОЖНО ПУСТИТЬ НА КОМПОСТ, ЕСЛИ 
                У ВАС ЕСТЬ КАКИЕ-ТО РАСТЕНИЯ ИЛИ ОГОРОДИК. А ПОСЛЕ СОРТИРОВКИ, ПЛАСТИК, 
                СТЕКЛО И БУМАГУ ПЕРЕРАБОТАЮТ И СДЕЛАЮТ КАКИЕ-ТО ДРУГИЕ ПРЕДЕМТЫ! НУ А 
                ЕСЛИ ВЫ ЛЮБИТЕ ПОМАСТЕРИТЬ, ИЗ НЕКОТОРЫХ ВИДОВ УПАКОВОК МОЖНО СДЕЛАТЬ 
                КАКИЕ-ТО ПОДЕЛКИ. К ПРИМЕРУ ЧЕРЕПАШКУ ИЗ ЗЕЛЕНОЙ И КОРИЧНЕВОЙ БУТЫЛКАМ :3
              </p>
            </li>
            <li class="help-list__help help">
              <img
                class="help__img"
                src="../static/img/byn.png"
                alt="byn"
                width="150"
                height="150"
              />
              <span class="help__info">ЗАГРЯЗНЕНИЯ</span>
              <p class="help-block__text">
                ДАБЫ ИЗБЕЖАТЬ БОЛЕЕ СЕРЬЕЗНЫХ ПОСЛЕДСТВИЙ, ЛУЧШЕ ИСПОЛЬЗОВАТЬ БОЛЕЕ ЭКОЛОГИЧНЫЕ 
                ВИДЫ ТРАНСПОРТА, НАПРИМЕР АВТОБУС, В КОТОРОМ ЗА РАЗ МОЖНО ПЕРЕВЕЗТИ КУЧУ ЛЮДЕЙ.
                ЕЩЕ ОЧЕНЬ ХОРОШО НА КОРОТКИЕ РАССТОЯНИЯ ИСПОЛЬЗОВАТЬ ВЕЛОСИПЕДЫ, САМОКАТЫ И ВСЕ 
                В ТАКОМ РОДЕ ^^ И ВАМ, ВОЗМОЖНО, ВЕСЕЛО И ПОДВИЖНО, И ПРИРОДУ НЕ ЗАГРЯЗНИТЕ:D 
                ТАКЖЕ, ЕСЛИ ВЫ СОБЕРЕТЕСЬ С СЕМЬЕЙ ИЛИ ДРУЗЬЯМИ В ЛЕС НА ШАШЛЫЧОК, НЕ ЗАБЫВАЙТЕ 
                УБИРАТЬ ЗА СОБОЙ И ЕСЛИ ОСТАЛСЯ ОГОНЬ, ЗАТУШИТЕ ЕГО. ТАК МОЖНО ИЗБЕЖАТЬ ЛЕСНОГО 
                ПОЖАРА, ЧТО МОГЛО ОЧЕНЬ СИЛЬНО ЗАГРЯЗНИТЬ ПРИРОДУ И ОСТАВИТЬ МАЛЕНЬКИХ ЗВЕРУШЕК
                БЕЗ РОДНОГО "ДОМА".
              </p>
            </li>
            <li class="help-list__help help">
              <img
                class="help__img"
                src="../static/img/plant.png"
                alt="plant"
                width="150"
                height="150"
              />
              <span class="help__info">ЭКОНОМИЯ</span>
              <p class="help-list__help skill">
                ТАК КАК ПРИ ВЫРОБОТКЕ ЭЛЕКТРОЭНЕРГИИ ПРОИЗВОДЯТСЯ ОТХОДЫ, КОТОРЫЕ ВРЕДЯТ ОКРУЖЕНИЮ
                ПРЕДЛАГАЮ НЕМНОГО ЭКОНОМИТЬ ЭЛЕКТРИЧЕСТВО. ТАКЖЕ ПОСТАРАЙТЕСЬ НЕ ТРАТИТЬ УЙМУ ВОДЫ.
                ХОТЬ У НАС НА ЗЕМЛЕ И МНОГО ВОДЫ, НО СО ВРЕМЕНЕМ ЭТА ВОДА ЗАГРЯЗНЯЕТСЯ, ВОДЫ СТАЕТ 
                МЕНЬШЕ, А ТАКЖЕ ОНА ЗАСАЛИВАЕТСЯ. ПОПЫТАЙТЕСЬ ТАКЖЕ ИСПОЛЬЗОВАТЬ МЕНЬШЕ ПЛАСТИКОВЫХ 
                УПАКОВОК. ВМЕСТО НИХ ЛУЧШЕ ИСПОЛЬЗОВАТЬ БОЛЕЕ ЭКОЛОГИЧНЫЕ, ПУСТЬ ЭТО МОЖЕТ БЫТЬ НЕ 
                ВСЕГДА УДОБНО. ПОСТАРАЙТЕСЬ ИСПОЛЬЗОВАТЬ ОДЕЖДУ ПОДОЛЬШЕ, А НЕ "НА ОДИН ДЕНЬ".  
              </p>
            </li>
          </ul>
        </form>
      </section>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>

    </footer>
  </body>
</html>
